#{extends 'main.html' /}
#{set title:'Colophon' /}

This website is constructed using the following technologies.

<dl>
  <dt><a href="http://www.playframework.org/">Play Framework</a></dt>
  <dd>The web server code runs on top of this lean, fast,
  easy-to-program web framework.  It is like Rails for the JVM.</dd>
  <dt><a href="http://www.scala-lang.org/">Scala</a></dt>
  <dd>All the server-side programming is in this expressive,
  clean statically-compiled language.  It is like statically-compiled
  Ruby running on the JVM.</dd>
  <dt><a href="http://www.mongodb.org/">MongoDB</a></dt>
  <dd>All the server-side persistent data is in this scalable document-oriented data store that supports geospatial
  indexing.</dd>
  <dt><a href="http://jquery.com/">JQuery</a></dt>
  <dd>The JavaScript code
  uses this JavaScript library to make working with the DOM
  simpler and cleaner.</dd>
  <dt><a href=""></a></dt>
  <dd></dd>
  <dt><a href=""></a></dt>
  <dd></dd>
  <dt><a href="http://www.jslint.com/">JSLint</a></dt>
  <dd>All the JavaScript passes this checker to make sure that it only
  includes the good bits of that language.</dd>
  <dt><a
  href="http://blog.datalicious.com/super-cookies-example-code-using-flash-local">Datalicious
  Supercookies</a></dt>
  <dd>The anonymous user tracking uses this JavaScript library to
  store the user's random ID across different browsers.</dd>
  <dt><a href="http://www.maxmind.com/app/ip-location">IP-based Location</a></dt>
  <dd>When the accurate geolocation fails it falls back to using this
  web service to give approximate location.</dd>
  <dt><a href="http://www.modernizr.com/">Modernizr</a></dt>
  <dd>The accurate geolation uses this JavaScript library to give a
  consistent standard API to modern browser capabilities.</dd>
  <dt><a href="http://api.mongodb.org/scala/casbah/2.1.0/index.html">Casbah</a></dt>
  <dd>Our MongoDB access from Scala uses this Scala API.</dd>
  <dt><a href=""></a></dt>
  <dd></dd>
  <dt><a href=""></a></dt>
  <dd></dd>
</dl>